<br/>
<br/>
<div class="container">
        
    <div class="jumbotron">
            <a href="#"><img alt="spa logo" src="images/spalogo.jpg" ALIGN="right" class="img-thumbnail"> </a>
        <h1>Super Promociones de Acayucan</h1>
        <p class="lead">El lugar donde lo encuentras todo.</p>
        <p><a class="btn btn-primary btn-lg" href="/productos/new" role="button">Registrar Productos</a>
        <a class="btn btn-success btn-lg" href="/productos/list" role="button">Ver Productos</a></p>
      </div>
      
</div>

