
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/productos/list">Productos</a></li>
  <li class="breadcrumb-item active">Agregar</li>
</ol>

<div class="container">
    
<form action="/productos/create" method="POST" accept-charset="UTF-8" class="form-ingresar">
   <h3> <span class="label label-default">Ingresar Artículo</span></h3>
    <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Código Producto</span>
            <input type="text" name="codigo_producto" class="form-control" placeholder="Ejemplo:01010101" aria-describedby="basic-addon1" required>
          </div>
        </br>
   <h3> <span class="label label-default">Ingresar Descripción</span></h3>
    <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Descripción Producto</span>
            <input type="text" name="descripcion_prod" class="form-control" placeholder="Agregue descripción del artículo a ingresar" aria-describedby="basic-addon2" required>
          </div>
        </br>
   <h3> <span class="label label-default">Ingresar Unidad</span></h3>
    <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Unidad de Venta</span>
            <input type="text" name="unidad_venta" class="form-control" placeholder="PZA, KG, LT, CJA" aria-describedby="basic-addon3" required>
          </div>

</br>
</br>
<input type="submit" class="btn btn-primary">

</form>

</div>